@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 1800px;
  overflow-x: hidden;
  justify-content: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width:90%;

}
@media screen and (max-width:768px) {
  html, body{
    width:100%;
    margin:0
  }
}

a {
  color: inherit;
  text-decoration: none;
}